:root{
  --typewriter-caret-color: var(--primary-color);
}
.typewriter{
  display: inline-block;
  white-space: nowrap;
}
.typewriter-text{
  display: inline-block;
}
.typewriter-caret{
  display: inline-block;
  margin-left: 6px;
  color: var(--typewriter-caret-color);
  animation: blink 1s steps(1) infinite;
}

@keyframes blink{
  0%, 49% { opacity: 1 }
  50%, 100% { opacity: 0 }
}
